server {
    listen       80;
    server_name  _;

    add_header Strict-Transport-Security max-age=15768000;

    server_tokens off;

    keepalive_timeout 10;
    client_max_body_size 2m;

    #charset koi8-r;
    #access_log  /var/log/nginx/host.access.log  main;

    location /healthz {
        return 200 'OK';
    }

    location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
    #error_page  404              /404.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
{{ if eq (getenv "ENABLE_KIBANA") "true"}}
    location /kibana/ {
        proxy_set_header  Host              $host;
        proxy_set_header  X-Real-IP         $remote_addr;
        proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header  X-Forwarded-Proto $scheme;
        proxy_set_header  Connection "Keep-Alive";
        proxy_set_header  Proxy-Connection "Keep-Alive";
        proxy_pass        http://{{ getenv "KIBANA_KIBANA_SERVICE_HOST" "kibana-kibana"}}:5601/;
    }
{{end}}
    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}
    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;
    #}
}
